.card-image img {
    max-width: 100%;
    height: auto;
    display: block;
}

.card-word {
    font-size: 128px;
    font-weight: bold;
    text-align: center;
    padding-top: 40px;

    @media (max-width: 768px) {
        padding-top: 80px;
    }
}

